@model ServiceItem
@{
    string strTitle = "Редагувати запис";
    ViewBag.Title = strTitle;
}
<script src="/assets/vendor/ckeditor/ckeditor.js"></script>
<style>
    .form-container {
        max-width: 600px; /* Set your desired max-width here */
        margin: 0 auto; /* Center the container */
    }

    .div-box {
        margin-bottom: 10px; /* Add some bottom margin to each div-box */
    }
</style>
<div class="form-container">
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Hort" asp-controller="ServiceItems" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />
            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Title">Заголовок</label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                <label asp-for="Subtitle">Підзаголовок</label>
                <input asp-for="Subtitle" />
                <span asp-validation-for="Subtitle"></span>
            </div>
            <div class="div-box">
                <label asp-for="Text">Текст</label>
                <textarea asp-for="Text"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box">
                <label asp-for="TitleImagePath">Шлях до зображення</label>
                @if (!string.IsNullOrEmpty(Model.TitleImagePath))
                {
                    <img src="@Url.Content($"~/img/photo/{Model.TitleImagePath}")" alt="Current Image" style="max-width:50%" />
                }
                <input type="file" name="titleImageFile" id="titleImageFile" accept="image/*" />
                <p>@Model.TitleImagePath</p>
            </div>

            <!-- Добавляем поле с выпадающим списком -->
            <div class="div-box">
                <label asp-for="Father"></label>
                <select asp-for="Father" asp-items="@(new SelectList(ViewBag.CodeWordsList))">
                    <option value="">Виберіть значения</option>
                </select>
                <span asp-validation-for="Father"></span>
            </div>
            <div class="div-box">
                <label asp-for="ShowBanners">Ця сторінка буде відкриватися на кнопці на банері</label>
                <select asp-for="ShowBanners">
                    <option value="True">Так</option>
                    <option value="False">Ні</option>
                </select>
            </div>
            <div class="div-box">
                <label asp-for="MakePage">Створювати сторінки для цієї статті?</label>
                <select asp-for="MakePage">
                    <option value="True">Так</option>
                    <option value="False">Ні</option>
                </select>
            </div>
            <input type="submit" value="Зберегти" />
        </form>
    </div>
</div>

<script>
    window.onload = function () {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x => x.Text)');
        newCKEdit.updateElement();
    }
</script>

