<div class="dream-university-subpage">

	<!-- Begin breadcrumbs-->
	<div class="du-page-header du-breadcrumbs">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</div>
	<!-- End breadcrumbs-->
	<!-- Begin Event -->
	<div class="du-subpage-content">
		<div class="du-blog">

			<!-- Begin choose us -->
			<section class="blog ptb-50">

				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 text-center">
							<h2>@ViewBag.Title</h2>

						</div>
					</div>

					<section class="du-all-blog-post">

						<div class="row">
							@foreach(ServiceItem item in ViewBag.ServiceItems)
							{
								@if (item.Father == ViewBag.Title)
								{
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="du-news-item wow fadeInLeft">
											<figure><img class="img-responsive" src="data:image/jpeg;base64,@Convert.ToBase64String(item.TitleImage)" title="Designed by vectorjuice / Freepik"></figure>
											<div class="du-caption-box" style="background: #555a78 ">
												<div class="du-caption" style="height:150px">

													@if (item.MakePage == true)
													{
														<a asp-controller="Services" asp-action="Index" asp-route-Id="@item.Id"><h3>@item.Title</h3></a>
													}
													else
													{
														<a href="@item.Subtitle" target="_blank"><h3>@item.Title</h3></a>
													}
                                                </div>
												@if (item.MakePage == true)
												{
													<a asp-controller="Services" asp-action="Index" asp-route-Id="@item.Id"><img src="~/img/more_arrow1.png" alt=""></a>
												}
												else
												{
													<a href="@item.Subtitle" target="_blank"><img src="~/img/more_arrow1.png" alt=""></a>
												}
											</div>
										</div>
									</div>
								}
							}
						</div>

					</section>

				</div>
			</section>
			<!-- End event -->




		</div><!-- /.du-event -->
	</div><!-- /.du-subpage content -->
	<!-- End Evnet -->


</div>