<div class="dream-university-subpage">

    <!-- Begin breadcrumbs-->
    <div class="du-page-header du-breadcrumbs">
        <div class="container">
            <div class="row"></div>
        </div>
    </div>
    <!-- End breadcrumbs-->
    <!-- Begin Event -->
    <div class="du-subpage-content">
        <div class="du-event">

            <!-- Begin choose us -->
            <section class="event ptb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <h2>@ViewBag.Title</h2>
                        </div>
                    </div>

                    <section class="du-all-event">
                        @if (ViewBag.ServiceItems != null)
                        {
                            foreach (var item in ViewBag.ServiceItems)
                            {
                                <div class="row" style="height:310px">
                                    <!-- Left column -->
                                    <div class="col-lg-4 col-md-12 col-sm-12 du-news-date-box wow fadeInRight" data-wow-delay="0.2s">
                                        <div>
                                            <h2 style="color:white; text-transform:none">
                                                @item.Title
                                            </h2>
                                        </div>
                                    </div>
                                    <!-- Right column (Image) -->
                                    <div class="col-lg-8 col-md-12 col-sm-12 wow fadeInLeft">
                                        <figure>
                                            <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">
                                                <img src="@Url.Action("GetImage", "Services", new { id = item.TitleImage })" alt="" style="width:100%;max-height:250px">
                                            </a>
                                        </figure>
                                    </div>
                                </div>

                            }
                        }
                    </section>
                </div>

                <!-- Pagination -->
                <div class="blog-page-pagination">
                    <ul class="pagination pagination-sm">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li><a href="@Url.Action("Event", new { title = ViewBag.Title, page = 1 })" aria-label="First Page">«</a></li>
                            <li><a href="@Url.Action("Event", new { title = ViewBag.Title, page = ViewBag.CurrentPage - 1 })" aria-label="Previous Page">&lt;</a></li>
                        }
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="@(i == ViewBag.CurrentPage ? "active" : "")">
                                <a href="@Url.Action("Event", new { title = ViewBag.Title, page = i })">@i</a>
                            </li>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <li><a href="@Url.Action("Event", new { title = ViewBag.Title, page = ViewBag.CurrentPage + 1 })" aria-label="Next Page">&gt;</a></li>
                            <li><a href="@Url.Action("Event", new { title = ViewBag.Title, page = ViewBag.TotalPages })" aria-label="Last Page">»</a></li>
                        }
                    </ul>
                </div>
            </section>
            <!-- End Event -->

        </div>
    </div>
    <!-- End Evnet -->

</div>
