<div class="du-banner-area">
	<div class="du-featured-photo">
		<img class="img-responsive" src="img/mama7.jpg" alt="featured photo">
		<div class="du-featured-text">
			<!--welcome-message-->
			<header class="welcome-message text-center">
                <h1><span class="rotate" style="color:#555a78"> Запорізький будівельний, фаховий коледж, Для тих - хто будує майбутнє</span></h1>
			</header>
			<!--welcome-message end-->
		</div>
	</div>
</div>
<div class="clear"></div>


<div class="dream-university">


    <!--Begin feature-->
    <div class="du-feature">
        <div class="container">
            <div class="row">
                    @{
                        int i = 1;
                        @foreach(ServiceItem item in ViewBag.ServiceItems)
                            {
                            @if (item.Father == "Вступнику")
                            {
                                @if (item.ShowBanners == true)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                                        <div class="du-feature-box maxheight">
                                            <div class="badge"><img src="~/img/page1_icon@($"{i}").png" alt=""></div>
                                            <div class="du-caption-box">
                                                <div class="du-caption">
                                                    <p class="title">@item.Title</p>
                                                    <p>@item.Subtitle </p>
                                                    <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id" class="btn-default du-common-property">Вся інформація</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        }
                    }
            </div>
        </div>
    </div>
    <!-- End feature -->
    <!--Begin our faculty-->
    <div class="our-faculty">
        <div class="container">
            <h2 class="center">Спеціальності</h2>

            <div class="row">
                @foreach(ServiceItem item in ViewBag.ServiceItems)
                {
                    @if (item.Father == "Спеціальності")
                    {
                        <div class="col-lg-4 col-md-4 col-sm-4" style="height:280px">
                            <div class="du-faculty-item wow fadeInRight animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                                <figure>
                                    <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id"><img class="img-responsive" style="width:370px; height:200px" src="~/img/photo/@item.TitleImagePath" alt="image"></a>
                                </figure>
                                <div class="du-caption-box">
                                    <div class="du-caption">
                                        <h4><a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">@item.Title</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                }
                
            </div>
        </div>
    </div>
    <!--End our faculty-->
    <!--Begin for student -->
    <div class="for-students">
        <div class="container">
            <h2 class="center">Студенту</h2>

            <div class="row">
                @foreach(ServiceItem item in ViewBag.ServiceItems)
                {
                    @if (item.Father == "Студенту")
                    {
                        @if (item.ShowBanners == true)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="du-faculty-item wow fadeInRight" data-wow-delay="0.1s">
                                    <figure><img src="~/img/photo/@item.TitleImagePath" alt=""></figure>
                                    <div class="du-caption-box">
                                        <div class="du-caption">
                                            <h3>@item.Title</h3>
                                            @if (item.MakePage == true)
                                            {
                                                <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id" class="btn-default du-common-property">Вся інформація</a>
                                            }
                                            else
                                            {
                                                <a href="@item.Subtitle" target="_blank" class="btn-default du-common-property">Вся інформація</a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    }
                }
            </div>
        </div>
    </div>
    <!--End for student-->
    <!--Begin news -->
    <div class="du-news">
        <div class="container">
            <h2 class="center"><a asp-controller="Home" asp-action="Event" asp-route-title="Новини">Новини</a></h2>
            <div class="row">
                @{
                    var recentNews = ((IEnumerable<ServiceItem>)ViewBag.ServiceItems)
                    .Where(item => item.Father == "Новини")
                    .OrderByDescending(item => item.DateAdded) // сортировка по дате создания
                    .Take(3); // выбираем только 3 последние новости

                    foreach (var item in recentNews)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="du-news-item wow fadeInRight" data-wow-delay="0.1s">
                                <figure><img class="img-responsive" src="~/img/photo/@item.TitleImagePath" alt=""></figure>
                                <div class="du-caption-box" style="background: #555a78 ">
                                    <div class="du-caption">
                                        <h3>@item.Title</h3>
                                        <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id"><img src="~/img/more_arrow1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <!--End news-->
    <!--Begin success story -->
    <div class="du-graduate-success-story">
        <div class="container">
            <h2 class="center">Актуальне</h2>

            <div class="row">

                <div class="cbp-l-slider-testimonials-wrap">

                    <div class="cbp-panel" style="max-width:980px">
                        <div id="grid-container" class="cbp-l-grid-slider-testimonials cbp-slider-edge">
                            @{
                                var recentCurrent = ((IEnumerable<ServiceItem>)ViewBag.ServiceItems)
                                .Where(item => item.Father == "Актуальне")
                                .OrderByDescending(item => item.DateAdded); // сортировка по дате добавления
                                foreach (var item in recentCurrent)
                                {
                                    <div class="cbp-item graphic">
                                        <div class="cbp-l-grid-slider-testimonials-body">
                                            <p>@Html.Raw(item.Text)</p>
                                        </div>

                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--End success story-->
    <!--Begin scholarship -->
    <div class="du-scholarship">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="du-scholarship-item wow fadeInLeft">
                        <figure><img src="~/img/student.png" alt=""></figure>
                        <div class="du-caption-box">
                            <div class="du-caption">
                                <h3>Відділення механік</h3>
                                <a asp-controller="Services" asp-action="Header" asp-route-title="Віділення Механік" class="btn-default du-common-property">Вся інформація</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="du-scholarship-item wow fadeInLeft">
                        <figure><img src="~/img/diploma.png" alt=""></figure>
                        <div class="du-caption-box">
                            <div class="du-caption">
                                <h3>Практичне навчання</h3>

                                <a asp-controller="Services" asp-action="Header" asp-route-title="Практичне навчання" class="btn-default du-common-property">Вся інформація</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="du-scholarship-item wow fadeInLeft">
                        <figure><img src="~/img/student.png" alt=""></figure>
                        <div class="du-caption-box">
                            <div class="du-caption">
                                <h3>Відділення будівельник</h3>
                                <a asp-controller="Services" asp-action="Header" asp-route-title="Віділення Будівельник" class="btn-default du-common-property">Вся інформація</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <!--End scholarship-->
    <!--Begin current news -->
    <div class="du-current-news center">
        <div class="container">
            <h2 class="center">Події:</h2>
            <div class="row">
                @{
                    var recentEvents = ((IEnumerable<ServiceItem>)ViewBag.ServiceItems)
                    .Where(item => item.Father == "Події")
                    .OrderByDescending(item => item.DateAdded) // сортировка по дате добавления
                    .Take(3); // выбираем только 3 последние события

                    foreach (var item in recentEvents)
                    {
                        <div class="col-lg-4 col-md-12 col-sm-12 du-news-date-box wow fadeInRight" data-wow-delay="0.2s">
                            <div style="height:200px">
                                <h2>@item.DateAdded.ToString("dd MMMM", new System.Globalization.CultureInfo("en-US"))<br></h2>
                                <div class="du-date-short-des">
                                    <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">
                                        <h3 style="color:white;">@item.Title</h3>
                                    </a>
                                    <p>@item.Subtitle</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 wow fadeInLeft">
                            <figure><img src="~/img/photo/@item.TitleImagePath" alt=""></figure>
                        </div>
                    }
                }
            </div>

            <a asp-controller="Home" asp-action="Event" asp-route-title="Події" class="btn-default du-common-property">Події</a>
        </div>
    </div>
    <!--End current news -->
    <!--Begin newsletter -->
    <div class="du-newsletter">
        <div class="container">
                <div >
                    <a href="https://mon.gov.ua/" target="_blank"><img src="~/img/link/ministerstvo.png" alt=""></a>
                    <a href="https://osvita.ua/" target="_blank"><img src="~/img/link/OsvitaUA_logo_1607.png" alt=""></a>
                    <a href="http://osvita.zoda.gov.ua/" target="_blank"><img src="~/img/link/Департамент освіти і науки.png" alt=""></a>
                    <a href="https://eo.gov.ua/" target="_blank"><img src="~/img/link/eologov2.jpg" alt=""></a>
                </div>
        </div>
     </div>

</div>
<!--End newsletter -->
