@{
    ViewData["Title"] = "Панель Адміністратора";
}
<div style="margin-left:50px">
<h2>@ViewData["Title"]</h2>
<div id="main-wrapper">
        <div class="inner">
                <div>
                    <h3>Статті</h3>
                    <div>
                        <a asp-area="Hort" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Створити стату</a>
                    </div>
                    <div>
                        @foreach(var title in ViewBag.Name)
                        {
                            <h4>@title</h4>
                        <div>
                            @foreach (var entity in ViewBag.ServiceItems)
                            {
                                @if (entity.Father == title)
                                {
                                    <div>
                                        <a asp-area="Hort" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id">редагувати</a>
                                        |
                                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Hort" asp-controller="ServiceItems" asp-action="Delete" method="post">
                                            <input type="hidden" name="id" value="@entity.Id">
                                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">видалити</a>
                                        </form>
                                        |
                                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                                            @($"{entity.Title}")
                                        </a>
                                    </div>
                                }
                                
                            }
                        </div>
                        }
                    </div>
                </div>
                <div>
                    <h3>Сторінки сайту</h3>
                    <div>
                        <a asp-area="Hort" asp-controller="TextFields" asp-action="Edit" asp-route-id="">Створити сторінку</a>
                    </div>
                    <div>
                        <h3>Редагувати сторінки сайту</h3>
                        <div>
                            @foreach (var entity in ViewBag.TextFields)
                            {
                                <div>
                                    <a asp-area="Hort" asp-controller="TextFields" asp-action="Edit" asp-route-id="@entity.Id">редагувати</a>
                                    |
                                    <form style="display: inline-block;" id="form-@entity.Id" asp-area="Hort" asp-controller="TextFields" asp-action="Delete" method="post">
                                        <input type="hidden" name="id" value="@entity.Id">
                                        <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">видалити</a>
                                    </form>
                                    |
                                    <a asp-area="" asp-controller="Home" asp-action="@entity.View" asp-route-id="@entity.Id">
                                        @($"{entity.Title}")
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                        <input type="submit" value="Вийти" />
                    </form>
                </div>
        </div>
    </div>
</div>
