@model ServiceItem
<div class="dream-university-subpage">

    <!-- Begin breadcrumbs-->
    <div class="du-page-header du-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12 text-left du-title">
                    <div class="du-breadcrumb-title"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumbs-->
    <!-- Begin Blog single -->
    <div class="du-subpage-content">
        <div class="du-single-page">

            <!-- Begin Single Post -->

            <section class="single-page ptb-50">
                <div class="container">

                    <div class="row">
                        <div class="col-md-9">
                            <h2>@Model.Title</h2>
                            <div class="box-container post">
                                <!-- Проверяем наличие изображения, если нет, выводим стандартное -->
                                <img alt="image" class="media-object img-responsive"
                                     src="data:image/jpeg;base64,@Convert.ToBase64String(Model.TitleImage)"
                                     style="max-width:300px; max-height:200px">
                                <div class="ptb-30">
                                    <div class="clearfix meta">
                                        <p class="serif italic pull-left">
                                            Дата:
                                            <a>
                                                @Model.DateAdded.ToString("dd.MM.yyyy", new System.Globalization.CultureInfo("en-US"))
                                            </a>
                                        </p>
                                    </div>
                                    <p>
                                        @Html.Raw(Model.Text)
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Blog sidebar -->

                        <div class="col-md-3">
                            <div class="sidebar">
                                <div class="sidebar-inner">
                                    @{
            /*
                                    <div class="widget">
                                        <a asp-controller="Home" asp-action="Event" asp-route-title="Новини">
                                            <h3 class="widget-title">Новини</h3>
                                        </a>

                                        <div class="post-list">
                                            @{
                                                var recentNews = ((IEnumerable<ServiceItem>)ViewBag.ServiceItem)
                                                .Where(item => item.Father == "Новини")
                                                .OrderByDescending(item => item.DateAdded)
                                                .Take(3);

                                                foreach (var item in recentNews)
                                                {
                                                    <div class="sidebar-single-post clearfix">
                                                        <div class="sidebar-single-post-picture col-sm-12 col-md-4">
                                                            <div class="sidebar-single-post-picture-inner">
                                                                <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id" class="sidebar-single-post-picture-target">
                                                                    <!-- Проверяем наличие изображения для новостей -->
                                                                    <img class="img-responsive"
                                                                         src="data:image/jpeg;base64,@Convert.ToBase64String(item.TitleImage)"
                                                                         alt="">
                                                                </a>
                                                            </div><!-- /.sidebar-single-post-picture -->
                                                        </div><!-- /.sidebar-single-post-picture -->

                                                        <div class="sidebar-post-content-box col-sm-12 col-md-8">
                                                            <h4 class="sidebar-single-post-title">
                                                                <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">@item.Title</a>
                                                            </h4>
                                                            <div class="sidebar-post-content">
                                                                <span class="sidebar-post-content-suffix">@item.DateAdded.ToString("dd.MM.yyyy", new System.Globalization.CultureInfo("en-US"))</span>
                                                            </div><!-- /.sidebar-post-content -->
                                                        </div><!-- /.sidebar-post-content-box -->
                                                    </div>
                                                }
                                            }
                                        </div><!-- /.post-list -->
                                    </div><!-- /.widget -->
                                    */}
                                    <div class="widget">
                                        <a asp-controller="Home" asp-action="Event" asp-route-title="Події">
                                            <h3 class="widget-title">Події</h3>
                                        </a>

                                        <div class="post-list">
                                            @{
                                                var recentEvent = ((IEnumerable<ServiceItem>)ViewBag.ServiceItem)
                                                .Where(item => item.Father == "Події")
                                                .OrderByDescending(item => item.DateAdded)
                                                .Take(3);

                                                foreach (var item in recentEvent)
                                                {
                                                    <div class="sidebar-single-post clearfix">
                                                        <div class="sidebar-single-post-picture col-sm-12 col-md-4">
                                                            <div class="sidebar-single-post-picture-inner">
                                                                <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id" class="sidebar-single-post-picture-target">
                                                                    <!-- Проверяем наличие изображения для новостей -->
                                                                    <img class="img-responsive"
                                                                         src="data:image/jpeg;base64,@Convert.ToBase64String(item.TitleImage)"
                                                                         alt="">
                                                                </a>
                                                            </div><!-- /.sidebar-single-post-picture -->
                                                        </div><!-- /.sidebar-single-post-picture -->

                                                        <div class="sidebar-post-content-box col-sm-12 col-md-8">
                                                            <h4 class="sidebar-single-post-title">
                                                                <a asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">@item.Title</a>
                                                            </h4>
                                                            <div class="sidebar-post-content">
                                                                <span class="sidebar-post-content-suffix">@item.DateAdded.ToString("dd.MM.yyyy", new System.Globalization.CultureInfo("en-US"))</span>
                                                            </div><!-- /.sidebar-post-content -->
                                                        </div><!-- /.sidebar-post-content-box -->
                                                    </div>
                                                }
                                            }
                                        </div><!-- /.post-list -->

                                    </div><!-- /.widget -->
                                </div><!-- /.sidebar-inner -->
                            </div><!-- /.sidebar -->
                        </div>

                    </div>
                </div>
            </section>
            <!-- End Single Post -->

        </div><!-- /.du-blog-single -->
    </div><!-- /.du-subpage content -->
    <!-- End blog single -->

</div>
